<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
<title>About</title>
<style type="text/css" media="screen">@import "/main.css";</style>
<%= favicon_link_tag %>
</head>

<body>

<div id="Header">
	<%= link_to "TYLERHAYSLETT.COM", "/", title: "That Home" %><br>
</div>

<div id="Content">
	<h1>About</h1>
	<p><br>For those of you who stumbled on this site and are just wondering whats going on, 
	my name is Tyler. Among many other hobbies I enjoy programming. 
	I also have always wanted a website. 
	I figured what better way to share my passion than putting it up on the internet!
	What you see on the homepage is a JavaScript and CSS implementation of Conway's Game Of Life.
	If you havent read much about it its a really cool concept.
	In short, its a huge set of cells, and each generation or "step" every cell counts its neighbors and sets its next state based on that.
	I was trying to find a really nice implementation of the Game of Life but couldnt find any nice web demonstrations.
	So I figured I'd build my own. Future improvements will allow you to make a account here in order to save the state of your map!
	<br><br> (If you're wondering why when you click somewhere the cell you place quickly disapears, try pausing the auto-step.)</p>
	
	<p><br>This website is also prartially a platform for me to show off some of the more deployable apps I have made.
	Its not particularly spiced up, my CSS-fu is still a developing skill and lags considerably behind my skill as a application programmer.
	I havent finished uploading the "Floor 2 Adventure" because I want to tweak it a bit and make sure its running in browser, and not the poor netbook I am serving from.
	There are still more projects to come, though I may be uploading just videos and code for many of them as they are solid C++ or Spin and wont run in browser.</p>
	<p><br>I am no master yet, but if theres anything I enjoy its learning!
	Happy travels! 
	<br>(Look up the game of life too, there are some cool patterns it will build for you)
	<br><br> P.S. If the Game of life feels slow, I've optimised it down to bare bones, and it is running in your browser ;D</p>
	<p></p>
</div>

<div id="Menu">
	<%= link_to "Game of Life", "/" %><br>
	<%= link_to "Floor 2 Adventure 2.0", "/joeysgame/floor2page", title: "JOEY!" %><br>
</div>

<!-- TylerThe3 was here. -->
<!-- Layout stolen shamelessly from The Layout Reservoir. -->
</body>
</html>
