<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>
<title>About</title>
<style type="text/css" media="screen">@import "/main.css";</style>
</head>

<body>

<div id="Header">
	<%= link_to "TYLERHAYSLETT.COM", "/", title: "That Home" %><br>
</div>

<div id="Content">
	<h1>About</h1>
	<p></p>
	<p></p>
	<p></p>
</div>

<div id="Menu">
	<%= link_to "Game of Life", "/" %><br>
	<%= link_to "Floor 2 Adventure 2.0", "/joeysgame/floor2page", title: "JOEY!" %><br>
</div>

<!-- TylerThe3 was here. -->
<!-- Layout stolen shamelessly from The Layout Reservoir. -->
</body>
</html>
